html {
  background: url(./bg.jpg) center center / cover no-repeat;
  height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.adder-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adder-input {
  all: unset;
  padding: 5px;
  width: 40px;
  height: 20px;
  background: none;
  border: none;
  outline: none;

  text-align: center;
}


#price {
  font: 24px/1.2 Verdana, Arial, Helvetica, Sans-Serif;
  color: #333333;
  text-align: center;
}

#cashButton {
  float: right;
}